body {
    font-family: 'Courier Prime', monospace;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cereals {
    display: flex;
    flex-direction: row;
}

.cereal {
    align-items: center;
    border: 5px solid black;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 25%;
}

img {
    border: 5px solid black;
    border-radius: 5%;
    max-height: 300px;
    /* max-width: 300px; */
    /* width: 95%; */
}